<h2><%= @cocktail.name %></h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <% if dose.persisted? %>
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to "x", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render "doses/form" %>
