<h3> <%= @cocktail.name %> </h3>

<% @cocktail.doses.each do |dose|  %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
<% end %>

<br>
<%= render '/doses/form', dose: @dose, cocktail: @cocktail  %>
<%= link_to 'back index', root_path, {class: "btn btn-primary"} %>
